.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.places h1 {
    height: 25px;
    width: 70%;
    font-size: 30px;
    padding-right: 80%;
}

article {
    width: 390px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
}
